[submodule "ThirdParty/g2o"]
	path = ThirdParty/g2o
	url = https://github.com/RainerKuemmerle/g2o.git
	branch = master
[submodule "ThirdParty/Sophus"]
	path = ThirdParty/Sophus
	url = https://github.com/strasdat/Sophus.git
	branch = master
[submodule "ThirdParty/Pangolin"]
	path = ThirdParty/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
	branch = master
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
	branch = master
